body {
    background-color: #1f2326;
    font-family: sans-serif;
    text-align: center;
    color: #f0edf2;
}

.w50 {
    width: 50%;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.spaced {
    justify-content: space-around;
}

.centre {
    justify-content: center;
}

.float-right{
    float: right;
}

h1{
    font-size: 3em;
    text-shadow: 1px 2px 3px rgba(51,51,51,.5);
    margin-bottom: 3px;
}

h1 a{
    text-decoration: none;
    color: inherit;
}

.align-left{
    display: block;
    text-align: left;
}

.answers {
    list-style-type: none;
    background: transparent;
}

.answers>button {
    background-color: transparent;
    color: #f0edf2;
    width: 40%;
    height: 3em;
    margin: 3px;
    font-size: 1.2em;
}

.clicked {
    border-color: blue;
}

#menu {
    margin-top: 3px;
    list-style-type: none;
    display: flex;
}

#menu>li {
    margin: 5px;
}

#score {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.point{
    margin-left: 5px;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;

    border-radius: 50px;

    background-color: none;
    text-align: center;
    font-size: 2em;
    border: 6px solid
}

.green {
    color: #9ce30b;
}

.red {
    color: #982e3a;
}

.correct{
    border-color: #9ce30b;
    box-shadow: 0px 0px 3px #9ce30b;
    text-shadow: 0px 0px 3px #9ce30b;
}

.incorrect {
    border-color: #982e3a;
    box-shadow: 0px 0px 3px #982e3a;
    text-shadow: 0px 0px 4px #982e3a;
}

.small-button {
    width: 100px;
}

/*
Modal Styling
*/

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  color: #5f5f5f
}

.modal-header {
  margin-top: 0;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer{
    min-height: 25px;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}